<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">
</head>
<body>
<header>

</header>
<div role="main">
<form name="input" action="/" method="post">
Term: <input type="text" name="term" />
<input type="submit" value="Submit" />
</form>
<br />
<br />
Chapters:
<ul>
<% @chapters_having_term.each do |number|  %>
	<li><%=number.to_s%></li>
<% end %>
</ul>
</div>
<footer>
<iframe width="230" 
  height="165"
  frameborder="0"
  scrolling="no"       
  src="http://iheartquotes.com/api/v1/random?format=html&max_lines=4&max_characters=320&width=225&height=165">
<a href="http://iheartquotes.com/fortune/random">Random Quote</a>
</iframe> 
</footer>
</body>
</html>
