<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">
</head>
<body>
<header>

</header>
<div role="main">
<form name="input" action="/" method="post">
Term: <input type="text" name="term" />
<input type="submit" value="Submit" />
</form>

<h2>Term: <%=@term%></h2>
<h1>Chapters:</h1>
<ul>
<% @chapters_having_term.each do |number|  %>
	<li><%=number.to_s%></li>
<% end %>
</ul>

If you found the chapter that has this term, could you please add it to the index?
<form name="addterm" action="/addterm" method="post">
Chapter: <input type="text" name="chapter" />
<input type="hidden" name="term" value="<%=@term%>" />
<input type="submit" value="Submit" />
</form>
</div>
<footer>
</footer>
</body>
</html>
